[2014-11-04 08:12] Bloodevil opened #1 "커밋권한 주세요."
커밋권한 부탁드립니다.... push가 안되요.

[2014-11-04 08:22] #1 closed, assigned to nobody

[2014-12-13 09:53] Bloodevil opened #2 "파이콘 캘린더 등록."
6월 27일 28일로 파이콘 캘린더에 등록하기.

[2014-12-13 09:57] Bloodevil opened #3 "튜토리얼 계획하기."
like hands on.

define부터 하기.

[2014-12-13 10:02] Bloodevil opened #4 "스프린트 (sprint)"
sprint 계획하기.

2월/4월중에 한번 맛보기로 해보고 새로운 이슈 넣어주기.

[2014-12-13 10:04] Bloodevil opened #5 "홈페이지 담당."
@lqez  님이 담당하고 새로운 이슈가 시작되면 이 이슈는 close해주세요.

[2014-12-13 10:09] Bloodevil opened #6 "스폰서 가이드라인."
스폰서 가이드라인이 필요함.

[2014-12-13 10:09] Bloodevil opened #7 "예산 계획."
예산계획.
- #6 이슈를 해결하기 전에 해결되어야 함.
- 같이 해결해야할 첫번째 문제.

[2014-12-13 10:15] Bloodevil opened #8 "발표 가이드라인."

[2014-12-13 10:25] Bloodevil opened #9 "Call for proposal"
- minimum guide line.
- 발표자가 준비되었는지를 미리 좀 보는 기회가 있어야 함.
- 주제는 없음.
- 기간을 길게 주기.

- 파이썬 냄새가 나야함.
- 스폰서 세션도 일단 받는다.
- 난이도와 대상청중 표시해주세요.

[2014-12-13 10:30] Bloodevil opened #10 "APAC 공동 스폰서. APAC 채널링."
APAC과 의논하는것이나 메일링 하는 것.

[2014-12-13 10:31] Bloodevil opened #11 "PYCON US와 APAC 탐사단."

[2014-12-13 10:32] Bloodevil opened #12 "트위터, 페이스북 홍보담당."
김슬님이 짤을 하시는걸로...

[2014-12-13 10:36] Bloodevil opened #13 "자원봉사단 구축."
SAKURA님 초대후 assign

[2014-12-13 10:40] Bloodevil opened #14 "event.pycon.kr 도메인 활성화"
빨리 해주시죠.

[2014-12-14 01:09] invisibleroads opened #15 "Submit PSF grant proposal"
Hi 배권한, 김영근, 박민우 and others,

[It was great meeting you yesterday at the Korean Python Users Group](http://bloodevil.com/pages/minicon_2014_12.html).  I was happy to witness a packed auditorium as well as presentations on advanced topics such as IPython extensions.  I was also impressed that your team managed to bootstrap PyCon Korea 2014 on your own through regional sponsors.  Thank you also for

[2014-12-14 01:17] invisibleroads opened #16 "Register for PyCon 2015 Montréal"
[Please consider registering for PyCon 2015 Montréal](https://us.pycon.org/2015/registration/register/).  Tickets typically sell out a few months before the event.  You may be able to receive financial aid with a valid justification.

[2014-12-15 07:58] Bloodevil opened #17 "send info to PYCON APAC 2015"
Hello Kwon-Han Bae:

This is Alfred, the PR chair of PyCon APAC 2015 committee. Thanks for your kindness support.

As mentioned, here is what we need:
- Community Introduction, around 300~500 words, in English, briefly introduce the history, profile, and events. Photo, if any, is a very welcomed media to let pythonests picture your event. And it would be great if you can also provide a guide showi

[2014-12-17 05:50] #4 closed, assigned to lexifdev

[2014-12-17 05:50] #5 closed, assigned to lqez

[2014-12-17 05:51] #7 closed, assigned to Bloodevil

[2014-12-17 05:51] #10 closed, assigned to darjeeling

[2014-12-17 05:51] #13 closed, assigned to OuO

[2014-12-17 05:52] #12 closed, assigned to lexifdev

[2014-12-22 07:19] Bloodevil opened #18 "pycon email 정리."
-  현재상황
 pycon email은 pyconkr@googlegroups.kr 과 pycon@pycon.kr로 나누어져 있는데 pyconkr@googlegroups.kr은 모든 멤버가 들어가있는 반면 (리스트 확인 해야함, admin누군가요 @darjeeling ) pycon@pycon.kr은 아이디/비밀번호를 @darjeeling @scari 만 알고있음.

- 제안
 pycon@pycon.kr에 오는 이메일을 pyconkr@googlegroups.kr로 포워딩한다. 만약 보안이슈가 있다면 보안이슈가 있는 멤버를 그룹스에서 자르는게 맞을 듯 하다. 몇명만 알고있는 이메일같은건 의사소통에 좋지 않다. 만약 심각한 보안이슈가 있을 수 있다면 알려주기 바람.

우려되는 보안이슈
- 예산문제는 전부 알아야하는

[2014-12-23 04:30] scari opened #19 "2015 Venue"
건대는 학사일정 픽스되고 난 이후에 정식으로 진행하는걸로 해야겠네요. 반응이 없습니다.

[2014-12-24 04:47] Bloodevil opened #20 "web server 이전"
11:53 AM darjeeling 음 전 크리스마스때.. pycon.kr 을 네이버 제공 써버로 옴기겠습니다.
11:53 AM server 관리용 key 도 받아서.. 넣을께요.

=======================================
할일
- naver 제공서버 환경 ip와 알아야할 정보들 이슈에 달아놓기
- pycon.kr 웹서버 이전
- 하면서 #14 이슈도 같이 끝내주세요.
- key 받으면 slack이나 google docs나 비슷한것(?) 으로 공유 하기.

[2014-12-24 04:50] #19 closed, assigned to Bloodevil

[2014-12-31 10:44] #17 closed, assigned to darjeeling

[2015-01-03 07:50] #3 closed

[2015-01-03 07:56] Bloodevil opened #21 "2월 튜토리얼과 6월 튜토리얼 계획 회의록"
2월 튜토리얼

파이썬 맛보기 : 매생이님.
20명
장고 101 : 파이님.
20명
ipython 통계. : 김슬
20명

튜터 :  올수 있는 사람 다.
3시간씩. 4시간정도 걸리지 않을까?

시간 : 2015년 2월 14일 토요일. 1시-5시.
장소 : 토즈타워점. , 3개의 방 - D2 지원.

비용 : 1인당 만오천원.

목적 : 6월 튜토리얼 진행을 위한 준비.

페이스북 캘린더로

튜터는 몇명?

파이썬 reboot . 주입형 python
hackers guide 번역자에게 …. -납치완료.
대상 : 프로그래머인데 파이썬을 대충쓴 사람들.
목적 : 미래의 노예.
생태계 pypi, pyenv 등등…
모듈 import란 무엇인가
pycham, editor
encoding python2 and 3.
파

[2015-01-03 07:56] #21 closed

[2015-01-04 18:21] darjeeling commented on #20
https://github.com/pythonkr/pyconkr-environment

의 admin_ssh_keys 에 본인의 ssh pub key 를 넣어주세요.

[2015-01-05 02:47] lqez commented on #20
저는 등록했습니다.

[2015-01-05 13:11] invisibleroads commented on #15
I recommend submitting the proposal before February.

[2015-01-05 13:14] darjeeling commented on #15
@invisibleroads thanks! I start this issue from at the end of this week.

[2015-01-07 04:56] Bloodevil commented on #20
저도 등록했습니다.
서버 옮기셨으면 close 해주세요.

[2015-01-07 04:57] Bloodevil commented on #18
결국 정리는 안된듯 하지만 오래 묵혀둬서 좋을 것 없으니 다음기회에 더 정리되기를 소망하면서 이슈를 닫습니다.

[2015-01-07 04:57] #18 closed

[2015-01-11 12:59] tebica commented on #15
@darjeeling I will help answering this questions in English. Please ping me anytime if you need any time of help from me. When are we gonna discuss this?

[2015-01-15 04:44] Bloodevil commented on #15
we should discuss before February. please do discuss (or determine meeting date)

[2015-01-20 03:47] tebica commented on #9
Call for proposal Pycon APAC 2014
https://mail.python.org/pipermail/conferences/2014-January/000546.html

[2015-02-02 06:04] lqez commented on #9
@tebica 이거 마무리 되시면 저한테 할당해주시면 감사드리겠습니다.

[2015-02-03 06:39] lqez commented on #9
2015 CFP https://docs.google.com/document/d/1MK7d-C94EHh-OaSNCemNYvuo1P7OhPjKej2XZHSBf4s

[2015-02-03 06:39] lqez commented on #9
홈페이지에 등록되면 닫겠습니다.

[2015-02-05 07:04] Bloodevil commented on #14
활성화는 되었으니 클로즈 합니다. 누군가 걸어주세요. 2월땐 될꺼라 믿..믿...

[2015-02-05 07:07] Bloodevil commented on #20
클로즈 해달라고....

[2015-02-05 07:07] #20 closed

[2015-02-05 07:08] Bloodevil commented on #6
되고있는거 google document 있었던 것 같은데 어디있나요.???

[2015-02-05 07:11] Bloodevil opened #22 "장소 후보 선정 및 예약, 견적 요청 메일 보내기."
https://docs.google.com/spreadsheets/d/1SzkOiTb4iH0adUoTItXYywmoviCLpi50EA82stQG7X0/edit#gid=0

장소선정 후보와 메일 보낼 후보들.

[2015-02-05 07:15] lqez commented on #14
www.pycon.kr 만 활성화했고, event / seminar 는 작업하지 못했습니다.
2014-10 세미나 때는 seminar.pycon.kr 로 도메인을 잡아서 작업했는데, 사실 seminar.python.or.kr 이나 event.python.or.kr 이 맞다고 봅니다. 하지만 없는 것 보다는 있는게 훨씬 의미가 있으니, @Bloodevil 님께서 event 와 seminar 중에서 2차 도메인 선택해주시면 한 쪽으로 301 시키도록 하겠습니다.

[2015-02-05 07:17] Bloodevil commented on #14
event로 하죠. github repo 따라서 통일 하는 거스로. ^ㅁ^

[2015-02-05 07:21] lqez commented on #14
그럼 우선 event.pycon.kr/<event_id> 로 작업하고, python.or.kr 을 획득하면 그 쪽을 메인 도메인으로 하겠습니다.
seminar.pycon.kr 은 event.pycon.kr 로 301 시키겠습니다.

[2015-02-05 07:30] OuO commented on #16
@darjeeling, @scari and me will go to PyCon.US.
already finished the registration of the PyCon.US.

[2015-02-05 07:30] #16 closed

[2015-02-05 07:35] OuO commented on #11
PyCon US 참석은
- @darjeeling
- @scari
- me

까지 총 3명입니다. #16 내용을 참고하시면 되겠습니다.

[2015-02-05 07:48] OuO commented on #11
PyCon APAC 참석자는
- @lexifdev
- @miyunim
- @Bloodevil
- @darjeeling

(위 명단은 변경 될 수 있습니다.)

[2015-02-07 10:23] lqez opened #23 "OpenGraph Tag on 2015 CFP"

[2015-02-09 01:24] lqez opened #24 "CFP in English"

[2015-02-09 01:24] lqez opened #25 "2014 Post mortem"

[2015-02-09 01:25] lqez opened #26 "Fix scrolling bug on canvas"

[2015-02-09 01:29] lqez opened #27 "Shape up 2015 CFP site"

[2015-02-09 02:57] lqez commented on #27
Close by https://github.com/pythonkr/pyconkr-2015/commit/564def9

[2015-02-09 02:57] #27 closed

[2015-02-09 03:03] lqez commented on #26
OMG https://github.com/paperjs/paper.js/issues/585

[2015-02-09 03:04] #26 closed

[2015-02-09 03:16] lqez commented on #23
Added. https://github.com/pythonkr/pyconkr-2015/commit/7620d55ea4bc2a68a54a4f42459108929989cd51

[2015-02-09 03:16] #23 closed

[2015-02-09 03:45] lqez commented on #25
Added. https://github.com/pythonkr/pyconkr-2015/commit/9badbea4122f435afd3012f417c3d34d639592c4

[2015-02-09 03:45] #25 closed

[2015-02-09 17:31] tebica commented on #9
@lqez 아름다운 홈페이지에 등록되었으므로 닫아도 될 것 같습니다. 그냥 닫을까.. 하나다 noti 드립니다~

[2015-02-09 17:36] iz4blue commented on #9
@tebica 님의 의견에 찬성 1표요~ ^^a (정말 페이지가 아름다움... 우웅~ 능력도 부럽고 감각도 부럽고...)
참고로 pycon.kr 페이지가 3gs 에서도 잘 나옴을 확인했습니다.

[2015-02-09 17:40] tebica commented on #27
@lqez Changeset을 봤습니다. 부끄럽습니다... 흐흑

[2015-02-09 23:56] lqez commented on #9
@tebica 영문 CFP 작성 완료되시면 저한테 돌려주세요. 감사합니다.

[2015-02-10 00:28] Bloodevil commented on #9
@tebica #24 이슈가 있으므로 이쪽은 닫습니다. #24 CFP in english로 이슈레이징 해주세요.

[2015-02-10 00:28] #9 closed

[2015-02-10 01:04] lqez commented on #24
@tebica wrote  https://docs.google.com/document/d/1k7MnzaykXnmhM6ZICt89QqeMRAaqKliNFm7fEmMCr5Y/edit.
Thanks!

[2015-02-10 02:17] lqez commented on #24
http://www.pycon.kr/2015/index.en.html !

[2015-02-10 14:22] tebica commented on #24
English proof reading 이 늦어지고 있네요... 조만간 마무리 하고  pull request 보내겠습니다. 혹시 이 것때문에 늦어지고 있는 다른 issue 가 있을까요?

[2015-02-10 14:32] lqez commented on #24
그렇진 않은 것 같습니다.

[2015-02-11 01:53] Bloodevil commented on #2
#19  장소 예약되면 시작하겠습니다.

[2015-02-11 01:55] Bloodevil commented on #22
CFP 작성되었으니 토요일에 후보 골라서 쭉 뿌려봅시다. pycon 공식 메일로 뿌리도록 합시다.  토요일 당일날 보내고 클로즈 합니다. 이후 메일 오는 것을 보고 새로 이슈레이징 하도록 하겠습니다.

[2015-02-11 01:56] Bloodevil commented on #8
발표 가이드라인은 발표자가 선정되면 뿌립니다.

[2015-02-11 02:00] Bloodevil opened #28 "파이콘 티셔츠 디자인 & 업체선정."
파이콘 티셔츠는 예산상 명당 만원으로 발표자 50벌, 자봉 30벌, 참가 700벌로 예상하고 있습니다.

총 800만원 규모로 예산잡고 있지만 넘을 것을 예상하고 있으니 넘어도 됩니다.
* 디자인 비용을 따로 잡아야 합니다.
여름 티셔츠 반팔은 정해진 사항입니다.

급하진 않지만, 언젠간 무조건 해야하는 일이어서 이슈로 미리 넣어놓습니다.

[2015-02-11 02:00] Bloodevil opened #29 "현수막"
현수막 필요함. 장소선정 끝나면 치수 재서 업체선정.

[2015-02-11 02:02] Bloodevil commented on #15
@darjeeling  이거 어케되고 있나요 업데이트 부탁드리고 이슈 필요없으면 클로즈 합니다. 파이썬 달력에 등록하는것과 같이 하실꺼면 이슈에 dup 표시하고 내용 합쳐주세요.

[2015-02-11 02:02] darjeeling commented on #22
CFP 와 장소는 별개의 것아닌가요?

[2015-02-11 02:03] Bloodevil commented on #22
문서가 있어야 뭔가 보내죠. CFP 는 아니지만 뭔가 비슷한 썸씽 라이크 뎃 이 필요함. 저번에 뿌린건 cfp 초안으로 조금 수정해서 보냈습니다.

[2015-02-11 02:05] Bloodevil commented on #22
CFP 는 아니니까 메일보내는걸로 바꿨습니다.

[2015-02-11 02:11] tebica commented on #8
제 경험으로는 보통 발표자 템플릿 정도를 공유하고.. 그것도 잘 사용되는 편은 아니던데,
발표 템플릿을 제공하려고 하는건 아니지요?
로고 가이드라인 과 현우님이 작성하신 "파이콘 이름 작성 방안" 정도면 되지 않을까요?
https://docs.google.com/document/d/1Tlwkef3tthINpooZiJkzBbKc5C70M7qtSKs-B1QcXtQ/edit
로고 가이드라인은.. "배경이 흰색이어야 한다" 이정도?

[2015-02-11 02:14] tebica commented on #6
뭐 당연히 하시는 거겠지만, Sponsor Googld Doc directory 첨부합니다.
https://drive.google.com/drive/u/1/#folders/0BzZMptUH3U_ubnZfcGMyNDdUWnc/0BybJOTZiz2GiN3MxV2k0Rzg5UHM
@Bloodevil 스폰서 가이드라인은 어떤걸 이야기 하나요? 얼마를 내면 어떤 등급이다.. 이런거 인가요? 아니면 스폰서 전반적인 것들?

[2015-02-11 02:15] Bloodevil commented on #8
넵 그런 요소들이 정리를 한거랑 안한거랑 달라서 한장짜리라도 메일로 공지가 필요할 것 같습니다. :)
로고도 갔다쓰세요 보다는 패키지로 제공하면 좋을 것 같구요. 작년에도 그런 문의가 있었습니다.

[2015-02-11 02:21] tebica commented on #15
@darjeeling 일단 제가 영어로 초안을 만들어 보겠습니다.
- 우리가 돈이 얼마나 필요한가 -> 요건 답을 어떻게?
- 돈을 어떻게 받기를 원하는가? ->우리 법인통장 만들 예정인가요?

[2015-02-11 02:23] darjeeling commented on #15
@tebica
* 얼마나 필요한가는 800 명 규모의 행사를 예상중이므로 인당 * 10$ 정도면 될꺼 같습니다. ( 양일인데다가.. )
* 아직은 법인이 없으니까 개인 paypal 이나 저의 통장이면 될듯하네요. 일단은요..

[2015-02-11 02:24] tebica commented on #24
원어민 Proof reading 하여 pull request 보내기 위하여 일단 reopen 합니다.

[2015-02-11 02:25] tebica commented on #15
@darjeeling 네. $8,000 으로 개인 통장으로 일단 작성하겠습니다.

[2015-02-11 02:26] darjeeling commented on #15
@tebica
* 기존의 coc 링크가 필요할꺼 같습니다.
* http://www.pycon.kr/2014/about/coc/

[2015-02-11 02:29] Bloodevil commented on #6
스폰서 가이드라인은 어제 대충 나온 것 같습니다.
http://www.pycon.kr/2015/sponsor.html

스폰서 관리에 대한 것은 새로운 이슈로 열어도 될 것 같습니다. 어느정도 가이드가 정해졌으니 close 합니다. 혹시 더 정해야 할 것이 있으면 reopen해주시고, 스폰서 관리를 위한 이슈가 필요하시면 새로 열어주시기 바랍니다.

[2015-02-11 02:29] #6 closed

[2015-02-11 03:00] miyunim opened #30 "포스터"
파이콘 코리아 2015 포스터 제작

디자인은 @lqez 님께서 맡아주심.

발표 장소 정해진 후 진행..

[2015-02-11 03:03] miyunim opened #31 "스탠드 배너"
스탠드 배너 디자인은 동일하게 @lqez 님께서..

[2015-02-11 03:04] miyunim commented on #30
사이즈 : A2 사이즈에 맞춰 디자인해주시면 됩니다.

[2015-02-11 03:06] miyunim commented on #31
사이즈: 60 X 180 cm

[2015-02-11 06:11] Bloodevil opened #32 "라이트닝 토크 발표자 신청받기."
라이트닝토크 발표자 신청폼도 있어야 할 것 같습니다.

논의한후 적절하게 관리해주세요.

[2015-02-11 19:23] tebica commented on #15
@darjeeling Draft 완성하였습니다. 리뷰 부탁드립니다.
예산도 일단 현재 버전으로 영문화 하였습니다.

[2015-02-13 01:34] tebica commented on #15
@darjeeling
Plan 1 : $8,000 fund.
Plan 2 : Recommend 3~4 English Python speakers and support that cost (flight, travel etc.)

[2015-02-14 06:25] tebica commented on #15
PSF grant 문서는.. 다양한 오픈소스 fund grant 문서를 작성한 경험이 많은 저랑 같이 일한 적이 많은  Tim Anglade의 도움으로 문서자체를 업데이트 하고 있습니다.

[2015-02-14 06:29] tebica commented on #24
Proof reading 을 마쳤기에 닫습니다. push 완료.

[2015-02-14 06:29] #24 closed

[2015-02-14 06:55] darjeeling commented on #15
:+1:

[2015-02-14 13:28] tebica commented on #15
@invisibleroads Hello Roy,
Korea team's PSF grant submission is a bit delayed. we are trying to finish this by Feb 20th. Do you think this schedule is ok?

[2015-02-15 01:59] invisibleroads commented on #15
If you make an initial translation into English, then I can help correct grammar and such.

I'm not an authorized representative for the PSF, so I can't guarantee anything about recommended deadlines.  The best I can say is that the sooner you submit the request, the sooner the committee will review it.

[2015-02-25 09:15] OuO opened #33 "자원 봉사자 교육 내용 정리"
자원 봉사자 역할 정리
* 어디서 무엇을 해야 할지
* 예상 인원

참고 : 2014 PyCon US ( https://us.pycon.org/2014/about/volunteers/ )

[2015-02-25 09:17] OuO commented on #33
Google Drive/자원봉사자 에 정리 중.

[2015-02-28 01:43] lqez opened #34 "2015 Logo"
Change 2014 to 2015 in badge image

[2015-02-28 01:45] lqez opened #35 "Flatpage urls"
- [x] /about/coc/ -- 파이콘 성명서
 - [x] /about/contact/ -- 연락처
 - [x] /about/pyconkr/ -- 파이콘 한국 2015
 - [x] /about/staff/ -- 준비위원회 및 자원봉사자
 - [x] /index/ -- index
 - [ ] ~~/programs/bof/ -- BoF~~ -> Open Spaces 로 변경
 - [x] /programs/cfp/ -- 발표자 모집
 - [ ] /programs/jobfair/ -- 취업 설명회 및 도서 판매
 - [x] /programs/list/ -- 프로그램 목록
 - [x] /programs/schedule/ -- 세부 일정
 - [x] /programs/speakers/ -- 발표자
 - [x] /

[2015-03-06 21:30] invisibleroads commented on #15
@tebica
Is there a draft that I should proofread?

[2015-03-07 05:08] Bloodevil commented on #22
연대로 진행중 다음주 월요일까지 @lquaz님이 진행하시고 안되면 긴급논의가 필요 .

[2015-03-08 11:04] lqez commented on #34
![pycon_kr_2015](https://cloud.githubusercontent.com/assets/579366/6545514/40d9c53c-c5ce-11e4-98e9-f524bf878341.png)

[2015-03-08 11:04] #34 closed

[2015-03-08 11:04] lqez opened #36 "Frontpage of PyCon Korea 2015"

[2015-03-08 11:04] lqez opened #37 "Base template for flatpages"

[2015-03-08 11:12] lqez opened #38 "Footer design"

[2015-03-08 17:57] tebica commented on #15
@invisibleroads Can you please review below doc? if you have any permission issue, please let me know
https://docs.google.com/document/d/1p6EOvQaQ6nN8yiNuFL9KXIXVudhf0_cbQTfxMrs8g5A/edit#

[2015-03-08 18:06] tebica opened #39 "Pycon 2015 보도자료 만들기"
일전에 H3나 Realm 릴리즈 준비할 때 보면 기자들이 컨퍼런스나 발표등에 대해서 더 쉽게 이해할 수 있도록 다양한 내용들을 보도자료로 준비해 주면 기사를 더 잘 써줍니다. copy & paste 기사를 위한 보도자료 보다는 Pycon 에 대해서 재미있는 사실들과 링크들을 모아놓은 자료를 기자들을 위해서 만드는 것이 좋겠습니다.

[2015-03-09 01:10] lqez commented on #36
-webkit-font-smoothing: antialiased;

[2015-03-09 01:11] Bloodevil commented on #39
괜찮은 링크들을 여기에 링크해서 현우님이 홈페이지 만드실때라던가 안에 내용 채워넣을때 참고하면 좋을 것 같습니다. (누구든지 관련있는 링크가 있으면 여기 comment로 정리해주세요.)

[2015-03-09 07:31] Bloodevil commented on #22
@lqez  메일에 따르면 연대는 일요일날 건물출입을 봉쇄하기때문에 일요일 사용은 불가능하다고 합니다.

[2015-03-09 15:34] invisibleroads commented on #15
@tebica, I finished editing the draft.  Overall, it is pretty good and it looks ready to submit.  I restricted the editing permissions just in case.

[2015-03-09 15:39] tebica commented on #15
@invisibleroads Thank you!
@darjeeling We are ready to send this!

[2015-03-09 23:33] darjeeling commented on #15
@invisibleroads @tebica  thanks for reviewing!
I sent it

[2015-03-09 23:34] #15 closed

[2015-03-10 07:00] Bloodevil commented on #22
누리꿈 스퀘어로 결정. 예약 완료. 5월에 관련서류 보내는 이슈가 생길예정.

[2015-03-10 07:00] #22 closed

[2015-03-10 15:10] invisibleroads commented on #15
Cool!

[2015-03-11 01:39] Bloodevil opened #40 "세미나 2일 점심 및 뒷풀이 장소 예약."
2일간 전원 점심과 일부 사람들 뒷풀이 장소 예약해야함.

점심
- 케이터링
- 도시락
- 지정식당 쿠폰
- 세미나장 안에서 음식먹을 수 있는지
- 지하식당 공간

뒷풀이
- 뒷풀이 장소 인원 추출
- 인원확정되면 장소 알아보기 (가게를 통채로 빌리는게 편함)
- 메뉴
- 장소는 걸어서 10분 정도로

[2015-03-14 05:53] darjeeling commented on #2
완료

[2015-03-14 05:53] #2 closed

[2015-03-14 05:57] OuO commented on #2
(-- )b 멋쟁히~

[2015-03-17 15:18] darjeeling opened #41 "Footer 의 facebook 링크가 깨졌음."

[2015-03-17 17:09] #41 closed

[2015-03-17 17:20] #38 closed

[2015-03-17 17:20] #37 closed

[2015-03-17 17:20] #36 closed

[2015-03-18 07:09] Bloodevil commented on #32
@dahlia 님이 맡아서 진행해주시기 바랍니다. :)

[2015-03-18 09:59] lqez opened #42 "Randomize frontpage image"

[2015-03-19 01:40] lqez opened #43 "Update opengraph tag"

[2015-03-21 01:00] #42 closed

[2015-03-21 01:10] #43 closed

[2015-03-23 06:38] lqez opened #46 "Login with social authentication"

[2015-03-23 06:47] lqez commented on #46
by https://github.com/pennersr/django-allauth

[2015-03-30 01:59] Bloodevil opened #47 "프로그램 북"
내용은 Google docs 에 따로 정리한다.

==프로그램 북을 만들 기 위해 정해야 할 것==
- 장소 : :ok:
- 스피커 (스피커 소개, 사진)
- 세션 (세션 소개, 위치, 시간)
- 프로그램 시간표
- 와이파이 안내
- 스폰서 (스폰서 로고, 소개문구)
- 로비 잡페어 소개
-

[2015-03-30 02:11] Bloodevil commented on #40
음식관련 (식사 관련)
 - 아침은 8시쯤 문열어줌, 더 별도로 일찍은 돈을 준비하면 가능함 : 12시 식사만 되면 됨.
장내 식사가능 여부
- 장내 식사는 안됨 ( 간단한 다과, 커피 쿠키는 가능 도시락은 불가능, 지하에 상가에 이야기를 해서 하면 됨 )
- 보통 어떻게 해 왔는지 문의 부탁
푸드코드 대여 가능한지
- 푸드코트가 영업을 않하는데? 6월달에 영업을 않하고 공사중일수 있음 : 장소만 빌릴 수 있는지 문의해 보도록 하겠음.
- 근처의 식당을 이용하면 됨, 길건너가면 대각선맞은편에 kbs 미디어 센터가 있음 : 지하 식당도 가능. 몇군데를 컨텍할지, 아니면 돈을주고 먹게할지 등을 정해야 함.

======
1안 : 푸드코트 장소만 빌리고 도시락 (1층에 본도시락인지 뭔지 있음) 배부가 가장 괜찮지

[2015-04-12 07:43] Bloodevil opened #48 "스피커 선정 및 프로그램표 확정."
* session 스피커 선정.
* LT 스피커 선정.
* 선정자 발표 및 공지.

[2015-04-12 07:44] Bloodevil commented on #11
PyCon APAC 참석으로 새로운 이슈를 만들고 이 이슈는 닫습니다.
현재 PyCon US 참가자들은 모두 갔습니다.

[2015-04-12 07:44] #11 closed

[2015-04-12 07:45] Bloodevil opened #49 "PyCon APAC 참가"
PyCon APAC 참석자는

@scari (!)
@lexifdev
@miyunim
@Bloodevil
@darjeeling

* 비행기표
* PyCon APAC 티켓.

[2015-04-12 07:52] Bloodevil commented on #47
프로그램 북을 만들기 위해 요청해야 할 것들
- [ ] 스폰서 소개 (페이지 크기 및 예시)

[2015-04-12 07:55] #14 closed

[2015-04-13 01:56] Bloodevil opened #50 "참가자 양일 티켓 판매."
참가자 양일 티켓을 판매해야 합니다. 해야할 일들은 밑에 있습니다.
이 이슈는 적어도 5월 말까지 확정되어야 합니다.

* [x] 가격설정
* [x] 판매 갯수 확인
* [x] 결제 방법 선정 ( card, paypal 등 )
* [x] 카드 결제 업체 선정
* [ ] 홈페이지에 결제 시스템 연동
* [ ] 공지

[2015-04-13 09:05] lqez opened #51 "Update SEO"

[2015-04-16 04:43] Bloodevil opened #52 "장소 비품 렌트."
==렌트할 사항들==
- [ ] 부스용 책상 15개
- [ ] 부스용 의자 30개 (부스용으로 약간 모자라게 빌리고, 모자란것은 오픈프론티어쪽에 의자를 빌릴 수 있다는 허락을 받음. 책상은 힘들 것 같다는 답변이 왔음.)

[2015-04-17 05:55] Bloodevil opened #53 "큰 시간표 공지사항보드를 만든다."
https://lh4.googleusercontent.com/-sqcqyfJuZEo/VTCft1rz5fI/AAAAAAAASsI/W0KlJERS0mg/w1024-h768-no/%EB%A9%94%EC%9A%B0%ED%81%B0%EA%B1%B0.png

위의 링크와 같은  큰 시간표 공지사항 보드를 만들어 봅시다.

- 만남의 장도 되고
- 시간표를 막판까지 고쳤을때 수정할수 있고, 빵꾸가 났을땐 직접 부셔서 덧대도 되고 (....)

등등의 의미가 있을 것 같습니다.

[2015-04-20 06:59] Bloodevil commented on #32
이거 끝났나요? 상태 업데이트 해주세요.

[2015-04-20 07:00] Bloodevil opened #54 "발표자 선정 및 시간표 1차 결정."
세션 발표자 선정
라이트닝 토크 발표자 선정

4월안에 되어야 합니다.

[2015-04-20 07:02] Bloodevil opened #55 "Financial Aid"
관련 문의 확인 (googlegroups mail)
관련해서 논의한 후 결정 합시다. 문의가 들어왔으니 이번주  15년 4월 24일 안에 결정해서 답변주는게 바람직할 것 같네요.

[2015-04-20 07:03] Bloodevil commented on #54
#48 과 겹쳐서 close합니다. 48번에 assignee 달아놓겠습니다.

[2015-04-20 07:03] #54 closed

[2015-04-20 07:06] Bloodevil commented on #48
#32 이슈 이후에 진행됩니다.

[2015-04-20 07:08] Bloodevil commented on #55
- [ ] 지원예산 확인
- [ ] 지원 범위 (발표자, 참가자(학생, 외국인, 내국인))
- [ ] 확정 후 공지.

[2015-04-21 08:57] Bloodevil commented on #55
https://docs.google.com/document/d/1jQWjHSRo8I_TCrwQMua3n4aMOLmJX1C4oIvoAVnwtyQ

[2015-04-21 08:59] Bloodevil opened #56 "발표자(해외/지방) 호텔 예약."
* 상암 누리꿈 스퀘어 근처 호텔이나, 오기 쉬운 호텔과 딜을 한다.

5월 초에 발표자선정이 완료된 이후 진행가능 (5월 둘쨋주에 @hdkim41 님이 가실 예정)

[2015-04-21 09:45] Bloodevil commented on #8
https://docs.google.com/document/d/1r4b5zbSAgRGOayjlK9wFbKGbCu1QYM4Ac62EkgHszNs/edit#heading=h.jzmo5bujf3nn

[2015-04-21 16:22] lqez commented on #46
https://github.com/pythonkr/pyconkr-2015/pull/57

[2015-04-21 16:23] lqez commented on #46
But we have to talk about facebook apps. Currently, I can only create an app in my personal account.

[2015-04-22 14:39] lqez opened #58 "Language cookie is not working properly"

[2015-04-22 15:33] #58 closed

[2015-04-24 10:37] sebuls opened #59 "로그인 한 것과 안 한 것은 어떤 차이가 있나요?"
http://www.pycon.kr/2015/ 에 로그인 메뉴가 있던데 로그인 한 것과 안 한것은 어떤 차이가 있나요?

[2015-04-24 10:49] darjeeling commented on #59
로긴 기능은 발표자와 관리자를 위한것으로 일반참가자는 필요없는 기능입니다.

[2015-04-24 10:55] #59 closed

[2015-04-24 13:16] lqez commented on #32
일반 세션과 같이 처리하고 있으니 #48 에 묶어서 보면 되겠습니다.

[2015-04-24 13:16] #32 closed

[2015-04-25 05:30] sebuls opened #60 "홈페이지 일관성"
http://www.pycon.kr/2015/programs/list/

http://www.pycon.kr/2015/programs/cfp/

발표자 모집기간인지, 마감했는지 모르겠습니다. 두 페이지 중 하나는 고치셔야겠네요

[2015-04-26 08:51] dahlia commented on #8
뒤늦게 살펴보게 되서 죄송합니다.

위에 링크된 문서 내용은 주로 발표자를 선정하는 기준에 관한 것이고, 참고할 것이 있긴 한데, 발표 가이드라인은 우선 뭔가 정해져야 할까요? 지금 뭔가 시작해보려니 궁금한 것들이 많은데요, 우선 이 가이드라인은 최종적으로 발표자로 확정된 분들을 대상으로 하는 것일지, 아니면 1차 선정만 되어도 보내드려야 하는 것인지, 아니면 발표자 신청하신 모든 분들께 보내드려야 할지 궁금합니다. 그에 따라 다뤄야 할 내용이 달라질 것 같습니다.

[2015-04-26 08:53] dahlia commented on #8
만약 이 가이드라인이 최종 선정된 발표자를 대상으로 한다면, 위에 링크된 발표자 선정 기준의 내용은 많은 부분 발표 가이드라인에는 넣을 필요가 없어질 것 같고요 (왜냐면 이미 그러한 기준을 통과하는 분들만 받을 것이기 때문에?). 그냥 선정과 상관 없이 발표자 지원하신 분들 모두를 대상으로 한다면 발표자 선정 기준에서 발표 내용에 관련한 부분들을 정리해서 문서를 만드는 정도로 마무리할 수 있을 것 같습니다.

[2015-04-26 08:54] dahlia commented on #48
참고: [발표자 선정 기준][1]

[1]: https://docs.google.com/document/d/1r4b5zbSAgRGOayjlK9wFbKGbCu1QYM4Ac62EkgHszNs/edit#heading=h.jzmo5bujf3nn

[2015-04-26 08:57] dahlia commented on #8
혹시 [발표자 준비사항][1] 문서가 발표 가이드라인 작업 초안인가요? 아니면 발표 가이드라인과 발표자 준비사항 문서는 별개인지…

[1]: https://docs.google.com/document/d/1OmBHGuTMrlt1v0UMy3Njce4MsN_V0laG28agwYqmklU/edit#heading=h.qp2wd3kli4v1

[2015-04-26 09:14] dahlia commented on #48
@tebica @darjeeling 혹시 두 분도 [발표자 신청 목록][1]에서 평가 다 하신 건가요? 중간에 표시 안 하신 셀들도 있는 것 같아서요.

[1]: https://docs.google.com/spreadsheets/d/1qm5KMGGQmt60EkrmTgHN-WuHkB60SrXn0d8asjQ2Wpw/edit#gid=1321332450

[2015-04-26 12:21] Bloodevil commented on #8
그러네요 제가 쓴 링크는 이슈에 맞지 않고 발표자 준비사항 문서가 맞습니다.  (삭제하였습니다.)
예전에 @darjeeling 님이 넥슨발표자용 발표자 가이드라인을 올려주신게 있었던 것 같은데 거기에 로고 사용, 추천 바탕색,(해당 행사장에서 잘 안보이는 색과 잘 보이는 색을 추천했음) 행사의 톤앤매너 같은 걸 정리했던게 있더라구요.

[2015-04-26 22:33] darjeeling commented on #48
네 않한 셀들은 0점입니다. 다시 표기해두겠습니다.

[2015-04-27 01:39] #60 closed

[2015-04-27 01:39] lqez commented on #60
수정되었습니다.

[2015-04-27 23:21] sebuls opened #61 "자원봉사자 모집 관련"
http://www.pycon.kr/2015/about/staff/
일단 메일로 신청하면 신청자에게 추후 일정을 알려주는 건지
아니면 추후에 상세한 모집일정을 홈페이지를 통해 알려주는 건지
잘 모르겠습니다.
홈페이지에 명시해 주시면 좋겠습니다.

[2015-04-28 08:51] scari opened #62 "Announcement Video"
Video material for announcement event.

[2015-05-06 02:16] lqez opened #63 "Login button is not working"
Login button on http://www.pycon.kr/2015/login/ is not working.

[2015-05-06 13:13] Bloodevil commented on #29
http://nuri.nipa.kr/rt/
시설안내>광고물설치안내

[2015-05-06 13:14] Bloodevil commented on #31
。싸인 스탠드
    - 규격 : 가로 297mm x 세로 420mm (A3)
    - 위치 : 건물입구, 엘리베이터홀, 회의실 앞

http://nuri.nipa.kr/rt/
시설안내 > 광고물설치안내

[2015-05-09 09:53] Bloodevil commented on #52
http://www.seoule.co.kr/m_mall_detail.php?ps_ctid=38030000&ps_goid=978 이쪽.
행사용 의자/책상 세트는 책상1개에 의자 6개 세트로 4만원. (..원래 4만원 따로따로빌려도 ....)
책상만 빌리면 만원 접의식 의자는 개당 5천원

책상 종류는
W1830xD745xH755
W1560xD730xH715
W1230xD610xH740
3가지 1560정도면 될것 같음.

15개 의자 30개에 30만원 예상.

[2015-05-09 10:22] darjeeling commented on #52
양일이고 + 상태가 스폰서용이라 깨끗해야할텐데 괜찬을까요?

[2015-05-10 02:47] Bloodevil commented on #52
청결유무는 어디에서 빌려도 일단은 알수 없죠. 전화해서 물어봐야합니다. 아니면 금요일말 한번 닦거나 위에 전지를 깔아도 되구요.

재활용센터지만 저건 대여용이고 재활용센터 가구나 전자제품이 그리 더럽진 않아요 센터에서 잔부 클리닝해서 나오기 때문에.

 정 걱정되시면 하나 찾아서 url과 정보 올려주세요.

양일이니 *2가 되겠네요. 그리고 금요일 배송으로 하면 어떻게될지 모르니 전화해서 제대로 물어봐야할듯.

[2015-05-13 14:35] Bloodevil opened #64 "발표자 자료등록."
발표자분들의 자료등록에 관한 내용을 안내하고 피드백 받는다.

- 홈페이지에 발표자분들이 등록. : 등록 유도 메일안내가 있어야함. 발표 가이드라인과 함께 안내되면 좋을 것 같음.
- 발표자분들은 발표자 권한을 드리고 본인의 발표자료등록 및 내용 수정을 할 수 있게 한다.
- 직접 하지 않을 경우에는 요청드리고 업데이트 하는 식으로 (어떤 식으로든 이루어져야함.)

"@dahlia 님과 @lqez 님이 함께 해주시기 바랍니다. 발표자 중심의 일이라서 @dahlia 님께 어사인 드렸습니다."

[2015-05-15 02:42] Bloodevil commented on #55
*우선순위 1번*(스피커-키노트스피커 포함- )분들의 지원을 위한 메일발송을 진행합니다. 같은 문서의 밑에서 메일포멧 쓰도록 하겠습니다.
*우선순위 2번*인 학생참가자의 티켓 지원에 대한 공지도 함께 이루어지면 될 것 같습니다. 위의 조사가 끝나고 나면 예산의 일부가 묶이게 되니 그 나머지를 쓰면 됩니다. 이 공지도 같은 문서의 밑에 계속 추가합니다. 문서에서 의견 달아주세요.

현재 국내외 교통비/ 키노트스피커, 호텔비 다 해서 800만원이 잡혀있습니다

[2015-05-16 07:20] darjeeling commented on #64
* 발표자 가이드 작성
* 발표 관련 스케쥴 정리

[2015-05-16 07:31] darjeeling commented on #64
* 발표자 재정지원 지원 스케쥴 ( financial aids 확정되면 확인 )
* 발표자료 최종 final out 스케쥴 - 2주전에 완료, 1주전이 진일정
* 프린트물에 나가는 자료 최종본 일정 ( 해당 스케쥴은 출력물 스케쥴에 연동됨 )
    * 발표자 정보 ( 프린트물에 나감 ), 사진, 약력등.. 홈페이지나 기타 링크등.. 자료..  -> 멀로 받지? -> 구글 폼은 안됨 수정이 안되니까.. -> 홈페이지??
    * 발표 러프한 레이아웃 ( 프린트 물에 나감 )

[2015-05-17 13:02] darjeeling commented on #64
* 발표자 사전모임 시간 및 장소 확정 ( 6월 20일 )
* 장소 예약
* 재정지원에 대한 사항 안내
* 발표자 가이드 라인 안내 ( 5월 20일에 공지 )

[2015-05-17 13:04] Bloodevil commented on #28
에코백도 있습니다.

[2015-05-17 13:05] darjeeling commented on #64
* 티셔츠 사이즈 확인 필요

[2015-05-17 13:10] darjeeling commented on #28
* 티셔츠 3종류로
    * 일반 : 곤색
    * 자봉 : 코발트
    * 발표자 : 차콜
* 소재는 보카시
* 단가는 대략 티셔츠가 칠천원 가량

[2015-05-17 13:11] darjeeling commented on #28
* 발표자는 뒤에 스피커가 있어야함
* 스태프는 잘 보여야하는것이 주요

[2015-05-17 13:34] #48 closed

[2015-05-17 14:02] dahlia commented on #8
@darjeeling 혹시 넥슨 발표자용 발표 가이드라인 구할 수 있을까요?

[2015-05-17 14:03] darjeeling opened #65 "파이콘 한국 2015 사진 촬영 기사 확정"
사진 촬영기사는 4명정도로 진행
* 양일이므로..
* 신근우님 확정

[2015-05-17 14:06] encyphered commented on #65
신근우입니다. 양일 모두 가능합니다.​

[2015-05-18 00:05] miyunim commented on #8
[2014년도 N모사 발표 가이드라인](https://drive.google.com/folderview?id=0ByTDpU6rgnjZfnBtR0d0dFdzVWpCZERxYUs5OFpWQlVoSEgyWTdnZ0d6TzdTd3dsWTN1M0U&usp=sharing) 입니다.
이게 맞는진 모르겠지만.. 일단 공유폴더에 업로드해두었습니다.

[2015-05-18 00:27] corazzon commented on #8
감사합니다. :)

[2015-05-19 23:31] devunt commented on #28
이거 막 제가 달아도 되는건지는 모르겠지만 작년 자봉용 티셔츠의 코발트색이 너무 절묘해 다른 행사나 아니면 그냥 밖에서 입고 다니기 힘들다는 의견이 있습니다. 눈에 잘 띄면서 평소에도 입고 다닐만한 색깔은 없을까요.

[2015-05-20 00:14] darjeeling commented on #28
자원봉사자는 아무래도 행사에서 눈에 띄여야하기때문에 어쩔수 없는 색 배색입니다.
안그러면 사람들이 등록데스크 같은 한곳에 몰려서 물어보기때문에 어쩔수가 없습니다.

[2015-05-20 02:03] Bloodevil commented on #28
일반이 곤색이니 자원봉사자분들에게는 일반 티셔츠도 지급할수 있겠네요.

자원봉사자분들의 티셔츠의 색 고려는 다음과 같습니다.
 - 잘보일것
 - 땀흘려도 민망하지 않을것 (...)

아마 올해 색은 좀 낫지 않을까 싶습니다. :)

[2015-05-23 06:53] lqez opened #66 "발표자용 템플릿 애셋 준비"
* PyCon.KR 2015 로고 ??
* 메일 발송시에 "발표 포맷" 과 발표용 장비 가져올것인지 같이 메일로 발송

[2015-05-23 06:56] lqez commented on #63
Fixed

[2015-05-23 06:56] #63 closed

[2015-05-23 06:59] darjeeling commented on #66
* 발표자에게 D-sub 출력임을 메일로도 알려줄것

[2015-05-23 07:01] darjeeling opened #67 "대회의실, 중회의실 의자갯수 확인 및 임대 방법 확인 ( 외부임대 or NIPA ? )"
기존에 대회의실, 중회의실에 의자가 있지만 예상되는 사람수에 모자라므로 아마 추가로 빌려야할듯함
확인이 필요하거나 추가로 임대가 필요할듯함

[2015-05-23 07:05] #51 closed

[2015-05-23 07:08] lqez commented on #67
https://github.com/pythonkr/pyconkr-2015/issues/52 와 같은 곳에서 빌릴지 확인

[2015-05-23 07:30] OuO opened #68 "참석자 동선안내판 부착 위치 확인."
대중교통 참석자의 행사장 이동 안내판 부착 위치 확인/기록

2015 6월 둘째 주 까지 확인 하는 것으로..

[2015-05-23 07:32] darjeeling opened #69 "휴게실, OST 용 소규모 회의실들용의 멀티탭 필요갯수 및 추가 의자 확인 및 임대 + 스폰서용 전원까지"
* 3층의 중회의실2 = 메인 휴실
* 3층의 소회의실,1,2,3 = OST
* 4층의 소회의실 1,2, 중회의실 1
* 4층의 여유공간에 놓을 의자 등등..
* 그리고 멀티탭

[2015-05-23 07:36] darjeeling commented on #69
4층 사진 : https://drive.google.com/drive/folders/0BzZMptUH3U_ubnZfcGMyNDdUWnc/0BzZMptUH3U_uRngza2NZc3BXek0/0BybJOTZiz2GifkF2cV9QV0JzaDdrWldfdjdCZU9vYTktbWVTUWlKTEwtSDRfcE9LME9TUEk/0BwpH4x23I0k8fk1kR2x4QmR0NWU0UU9FRFF0cTB3TXNKaHdiQ2dOay15TEF3WjRSc3Z0ZEk

[2015-05-23 07:37] darjeeling commented on #69
3층 사진 :
https://drive.google.com/drive/folders/0BzZMptUH3U_ubnZfcGMyNDdUWnc/0BzZMptUH3U_uRngza2NZc3BXek0/0BybJOTZiz2GifkF2cV9QV0JzaDdrWldfdjdCZU9vYTktbWVTUWlKTEwtSDRfcE9LME9TUEk/0BwpH4x23I0k8fk1kR2x4QmR0NWU0UU9FRFF0cTB3TXNKaHdiQ2dOay15TEF3WjRSc3Z0ZEk

[2015-05-23 07:37] iz4blue commented on #69
OST = Open Space Tech (모여서 하고 싶은 이야기를 하는 곳)

[2015-05-23 07:38] darjeeling opened #70 "OST 운영"

[2015-05-23 07:53] iz4blue commented on #69
차단봉 : 20개 이상

[2015-05-23 08:05] lqez opened #71 "날씨 페이지 업데이트"

[2015-05-26 07:02] OuO commented on #61
관련된 내용은 http://www.pycon.kr/2015/about/volunteer/ 를 참고하여주세요.

[2015-05-26 07:02] #61 closed

[2015-05-26 07:21] OuO commented on #71
http://www.kma.go.kr/repositary/xml/fct/mon/fct_mon1_109_20150521.pdf

[2015-05-27 07:55] iz4blue commented on #69
http://www.seoulrental.co.kr/ <- 이쪽 업체가 좀더 수량이나 규모가 더 커보임
단... 전원 케이블이나 콘센트 등은 이쪽도 보유하고 있지 않음
6권대 정도 알아보고 있는데 전원 케이블이 특이하게 제공되지 않음
이러다 직접 전원 케이블을 만들어 드려야 할지도? ....

[2015-05-30 06:52] iz4blue opened #72 "Keynote 스트리밍 방법 및 가능성 확인"
국제 회의실 컨트롤 룸을 이용할 것인지?
직접 카메라로 찍어서 송출할 것인지?

방법과 누가할 것인지? 등등을 논의 해야함

이유는 : 국제회의실에 사람이 다 못들어감
우징님께 영상 인코더 장비를 대여하기로 이야기 되어 가고 있음
http://avertv.avermedia.com/product/ProductDetail.aspx?Id=585 <- 이것인 듯 싶음

[2015-05-30 07:07] OuO commented on #65
신근우님 외 2명 확정 되었습니다.

명단은 자원봉사자 명단 내 정리 되어있습니다.

[2015-05-30 07:07] #65 closed

[2015-05-30 07:57] iz4blue commented on #69
각 콘센트마다 4kw 로 가능 <- 전력 담당자에게 다시 정확하게 확인하겠습니다.
스폰서 책상마다 노트북2개/모니터 2개 로 제한 <- 안내 메일을 @darjeeling 님 작성해주시기로 함
스폰서에게 제공되는 콘센트는 콘센트 2개 : 나머지 멀티탭등 추가 필요는 스폰서에서 해결

멀티탭 및 연장선은 필요한 제품으로 구매하기로 함
바닥 매설은 테이핑으로? 몰딩은 예상보다 비쌈. 테이핑으로 하였을때 끈적이는 것이 남는 것은?
대충 예산을 정해서 알려드리기로 함 : 대충 50~60쯤 될꺼 같음

[2015-05-30 08:36] iz4blue commented on #69
소회의실 방에 10구 콘센트를 2개씩 배치할 예정임, 다음의 멀티탭을 고민할 생각임
http://item2.gmarket.co.kr/Item/detailview/Item.aspx?goodscode=405064795
연장선은 다음을 구매할 예정입니다.
http://item2.gmarket.co.kr/Item/detailview/Item.aspx?goodscode=439601594

[2015-05-31 00:31] corazzon opened #73 "사이트에서 프로필을 수정하려고 하면 500 에러가 발생합니다."
프로필 수정 시 500오류 발생하는 문제 입니다.

[2015-05-31 12:49] corazzon commented on #73
사이트에서 프로필 사진 등록이 파일이름이 한글이면 오류가 난다고 발표자 분이 회신을 주셨습니다.

[2015-06-01 02:29] achimnol commented on #73
제가 해본 바로는, 파일이름이 한글이 아니어도 사진이 첨부된 상태이면 500 오류가 발생하고, clear 체크박스를 눌러서 사진을 제거하고 내용을 수정하면 다시 잘 됩니다.

[2015-06-01 02:37] lqez commented on #73
@achimnol 님의 제보가 정확합니다. 이미지 크기(dimension)과 파일 크기 처리하는 부분에 예외 처리가 없었습니다.
이용에 불편을 드려 죄송합니다.

[2015-06-01 03:04] achimnol opened #74 "프로필 수정 후 자기소개 글이 보이지 않습니다."
아래 #73 이슈 관련해서 제 프로필을 고치면서 알게 된 것인데, 자기소개글을 입력해도 로그인 세션이 살아있는 브라우저에서만 자기소개 내용이 출력되고 그렇지 않은 브라우저에서는 보이지 않습니다. 사진과 소셜링크는 양쪽 모두 잘 나옵니다.
(이게 제것만 그런 것인지도 모르겠습니다. 배권한님이 수동으로 이멜 주소 연동시켜주셨는데 혹시 DB 쪽에 뭔가 필드 업데이트가 빠져있는 거 아닌가 싶기도 합니다.)

[2015-06-01 03:12] lqez commented on #74
django-modeltranslation 을 이용해서 모델을 번역하고 있는데, English 로 세션이 열린 상태에서 데이터를 입력하셔서, en 필드에 값이 입력되었는데, 다른 언어로 열린 세션에서는 ko 필드 (비어있는)를 읽고 있어서 발생한 문제입니다.

ko 필드에 값이 있고, en 필드에 값이 없을 때는 fallback 이 잘 되는데, 반대로는 잘 안되는 것이 문제이므로 수정해보겠습니다.

[2015-06-01 03:16] lqez commented on #74
수정되었습니다.
https://github.com/pythonkr/pyconkr-2015/commit/a3f6b908ccc52fec3ba97fdfecfe9b9f823937dc

[2015-06-01 03:16] #74 closed

[2015-06-01 03:16] lqez commented on #73
`_size` 값 문제를 우선 우회처리했습니다.
https://github.com/pythonkr/pyconkr-2015/commit/6b70a30846b02df9787a67d42194c4f8a9e42bd8

[2015-06-01 03:16] #73 closed

[2015-06-04 08:25] Bloodevil opened #75 "무선랜 사용법 문의"
누리꿈스퀘어에 무선랜 사용법 문의.

1. 일반 참가자용 무선랜 사용과 스폰서용 무선랜, 그리고 스태프용 무선랜을 따로 구분할 수 있는지. -적어도 스폰서용은 따로 구분되었으면 좋겠습니다.
2. 사용법 프로그램북에 실어야 한다면 미리 인쇄가 되어야 함.

[2015-06-05 07:49] corazzon commented on #28
발표자와 스탭은 설문으로 수량을 파악할 수 있으나
일반 참여자에게 배부할 티셔츠의 사이즈별 수량이 필요합니다.

업체에서 제공하는 단체티셔츠는 길이가 짧기 때문에 1인치(2.5cm)당 500원 추가가 될 예정이며,
2인치 길이를 늘려 제작할 예정이라 단가가 1천원 더 올라갑니다.
또, 제작으로 인해 일반 단체티 제작기간에 비해 일주일~10일 정도가 더 소요 됩니다.

그리고 스탭의 경우 날씨관계로 양일 제공해야 하는 문제로 2장씩 제공할 예정입니다.

[2015-06-06 00:49] iz4blue commented on #75
그때 무료 WIFI 가 제공된다고 들었는데 오늘 막상 와보니 상황이 다릅니다.
NURI_GUEST 가 암호를 요구하는 인증형 WIFI 입니다.
이 부분 월요일날 전화해서 확인하도록 하겠습니다.

![screen shot 2015-06-06 at 9 46 47 am](https://cloud.githubusercontent.com/assets/979297/8017464/3100f082-0c31-11e5-9afc-1b5a48b26f0e.png)
![screen shot 2015-06-06 at 9 48 40 am](https://cloud.githubusercontent.com/assets/979297/8017466/3e1c3506-0c31-11e5-81f0-85521921e92f.png)

[2015-06-06 00:50] iz4blue commented on #72
국제 회의실에 있는 카메라는 CCTV 수준이라서 사용불가능 하다고 함
그래서 우리가 카메라, 삼각대 등을 이용해서 직접 송출해야함
영상 실시간 인코딩 장비는 우징님께 대여하기로 하였고, 네트워크 문제는 좀더 고민해야함

[2015-06-06 01:16] Bloodevil commented on #75
네 저는 이 아이디 패스워드를 제공해주는것으로 알고 있었습니다. 즉, 대관을 하면 아이디 패스워드를 무료로 알려준다고 하는걸로 들었고, 이 아이디 패스워드를 두개로 나눠 받을 수 있는지, 몇명까지 커버 되는지가 궁금합니다.

[2015-06-09 00:37] #49 closed

[2015-06-09 00:47] Bloodevil opened #76 "메르스관련 조치."
장소대관 : 신예지
 - 취소 우선. 연기 여부.

공지
 자원봉사 : 사쿠라
 스폰서
  - 대만 와 있는 분들 : 김영근
  - 기타 : 배권한
 스피커 : 코라손
   - 일정
   - 비행기 티켓
 참가자
   - 홈페이지 : 박현우
   - 페이스북 : 렉시프
   - 트위터 : 렉시프

[2015-06-09 00:50] Bloodevil commented on #76
스피커 : 코라손
   - 일정
   - 비행기 티켓

아직 피드백이 모두 오지 않았으니 공지는 다 나가서 이슈를 닫습니다.

[2015-06-09 00:50] #76 closed

[2015-06-09 00:52] Bloodevil opened #77 "milestone test"
will removed

[2015-06-09 00:56] #77 closed

[2015-06-09 00:59] Bloodevil opened #78 "세미나 장소 알아보기."
장소 후보지 문서
https://docs.google.com/spreadsheets/d/1SzkOiTb4iH0adUoTItXYywmoviCLpi50EA82stQG7X0/edit#gid=0

날짜를 8월 22,23 / 29,30으로 해서 다시 알아봐야함.

[2015-06-25 10:31] OuO opened #79 "자원봉사자 지원자들 일정확인 중."
변경된 일정에 맞춰서 일정 가능하신 분들 확인 중.

[2015-06-25 10:32] OuO commented on #79
현재 17분 확인.

6.29일 이후 미 확인 자들에게 개별 확인 요청하겠음.

[2015-07-14 02:07] scari opened #80 "Restart!"
핀 포스트로 걸어두기엔 양이 좀 많아서 일단 여기다 몰아둡니다. 이미 확인했던 이슈들이 대부분이지만 7월말 ~ 8월초가 휴가기간이라 영향이 있지 않을까 생각되서 remind한다는 기분으로 한번 더 확인하고 갔으면 좋겠습니다.

- 추가 발표자 컨택 @scari
 - 발표자 사전 모임 일정 및 장소 섭외 @scari

- 홈페이지 일정 업데이트 및 프로그램/발표자 목록 정리 @lqez
 - SNS 홍보 @Bloodevil @lexifdev

- 자봉 일정 확인 @OuO
 - 스탭 사전 모임 일정 및 장소 섭외 @OuO

- 티셔츠 업체 일정 확인 @corazzon

- 스티커 업체 확인 @Bloodevil

- 스폰서 관련 사항 (부스 배치 및 부스 활동 내용 확인, 진행 상황 공유 등) @darjeeling

[2015-07-14 03:48] OuO commented on #80
자봉 일정 확인은 #79  에서 관리중입니다.

[2015-07-15 08:54] yoloseem opened #81 "img.media-speakerect 이미지가 정사각형이 아닌 경우 눌려보이는 문제"
`media-speakerect` 클래스 css 먹힌 `img` 태그에 정사각형이 아닌 이미지가 들어가는 경우 crop 되는 대신에 눌려보이고 있습니다.

[2015-07-17 07:32] Bloodevil commented on #8
코라존님 발표 가이드라인 간략하게 정리해주세요. 필수요소는 맨 처음 페이지 디자인과 파이콘 2015 로고 파일정도가 아닐까 싶습니다. 진행 부탁드려요.

[2015-07-17 07:33] Bloodevil commented on #28
코라존님으로 바꿉니다. 진행해주세요.

[2015-07-17 07:35] Bloodevil commented on #39
직접 하고있는 것이 없어서 닫습니다. 만들 때 새로 이슈 만들어주세요.

[2015-07-17 07:35] #39 closed

[2015-07-17 07:38] Bloodevil opened #82 "스탭, 발표자 사전모임 일정잡고 장소 섭외하기."
자원봉사자, 발표자 사전모임 일정 잡고, 공지 돌리고, 장소 섭외하기.

[2015-07-17 07:39] Bloodevil commented on #80
분배했습니다.

[2015-07-17 07:39] #80 closed

[2015-07-17 07:40] Bloodevil opened #83 "추가 발표자 섭외"
추가 발표자 섭외하기.

[2015-07-17 07:41] Bloodevil commented on #82
@OuO 자원봉사자
@scari  발표자

같은날 같은 장소에서 해도 되고 (기본 공지 내용이 같으므로) 따로해도 됩니다.

[2015-07-17 07:42] Bloodevil commented on #62
apac용으로 작업한걸로 알고있어서 닫습니다.

[2015-07-17 07:42] #62 closed

[2015-07-17 07:45] Bloodevil opened #84 "홈페이지 내용 업데이트."
프로그램/발표자 목록 업데이트
일정 업데이트

[2015-07-17 07:46] Bloodevil opened #85 "발표자 및 날짜 변경사항에 따른 SNS홍보."
1. 발표자 홍보 (각 주제별로)
2. 변경사항에 따른 sns홍보. (저번 메르스 사태 이후 업데이트 없음.)

[2015-07-17 07:48] Bloodevil opened #86 "스폰서 관련 사항 업데이트."
7월 22일 전에 스폰서 공지 해주세요.

1. 각 부스에서 어떤 것을 할건지 모으기.
2. 현재 pycon 진행 사항.
3. 의자는 4개까지허용이었나 그렇고 콘센트, 전력사용 등에 대한 공지 필요.

[2015-07-17 07:49] Bloodevil opened #87 "스티커 제작."
디자인 부터 시작. 그후에 업체를 알아봐야 함.

[2015-07-20 00:40] #78 closed

[2015-07-20 00:45] scari commented on #83
대상자분들에게 섭외 메일 발송했고 아직 확정 전 입니다.

[2015-07-20 00:46] Bloodevil commented on #8
#66 이것과 비슷하여 이쪽 이슈는 닫습니다. relate를 위해 이슈 걸어놓습니다.

[2015-07-20 00:46] #8 closed

[2015-07-20 00:46] Bloodevil commented on #82
발표자는 2주전, 자원봉사자는 pyjog나오라고 유도할 예정입니다.

[2015-07-20 00:48] Bloodevil commented on #72
우징님과 함께 진행해 주세요. (우징님 아이디가 안보여서 코멘트만 남깁니다.)

[2015-07-20 00:51] Bloodevil commented on #46
still personal account?

[2015-07-20 01:39] iz4blue commented on #72
@Bloodevil 우징님께 관련 장비 받아왔고, 아직 테스트 전입니다.
일단 테스트해서 사용방법을 공유해야하는데, 아직 못해봤네요.
우징님이 이야기 하시기로는 youtube 중계를 이야기 하시긴 하셨습니다.

[2015-07-21 13:04] scari commented on #82
같은 날(8/14 금요일 저녁) 하는걸로 가닥 잡고 장소 섭외 진행합니다.

[2015-07-28 07:12] scari commented on #83
추가 확보 한분. 나머지는 백업 멤버로 충당합니다.

[2015-07-28 07:12] #83 closed

[2015-07-28 07:13] scari commented on #82
8/14일 19시부터 강남역 Naver D2 Factory.
발표자/자원봉사자/스폰서 안내 메일 발송했습니다.

[2015-07-28 07:13] #82 closed

[2015-07-28 07:14] darjeeling commented on #83
@lqez @darjeeling 인듯..

[2015-07-28 07:17] scari commented on #84
Issue Raise!

최종 확정 발표자 명단은 동보메일용으로 뽑아뒀던 리스트를 참고하시면 되겠습니다.
https://docs.google.com/spreadsheets/d/1A0UQDavRUeZ6io4z9-IsPQfBSZFNhFDqzN80HO1yjHk/edit#gid=0

여기에 백업 멤버 두 분 추가입니다.

[2015-07-28 07:20] scari commented on #86
Issue Raise!

7월 30일 목요일까지로 연장합니다. 주말을 넘기지 않고 스폰서 피드백을 하루 정도 기다릴 수 있는 최종 데드라인입니다.

[2015-08-01 08:12] iz4blue commented on #72
이번주 안으로 인코딩 장비 사용법 간단히 확인해서 공유하겠습니다.
다만 키노트 중계할 카메라, 스탠드, 노트북 등이 필요합니다.

[2015-08-01 08:49] scari commented on #86
@darjeeling 극딜용.

[2015-08-01 08:51] scari commented on #50
저도 서브로 같이 보겠습니다.

[2015-08-01 08:51] scari commented on #55
안 하기로 결정. 학부생 이하 할인만 남겼습니다.

[2015-08-01 08:51] #55 closed

[2015-08-01 14:26] iz4blue commented on #70
OST 설명들
http://egloos.zum.com/yuzi/v/1783326

'오픈 스페이스'란?, 최대 2000명까지 참여가 가능한 독특한 토론 프로세스입니다.

오픈 스페이스에서는 행사의 내용이나 진행자를 사전에 준비하지 않습니다. 대신에, '시간'과 '장소'등의 뼈대만을 준비합니다.그리고, 참여자들이 스스로 행사를 만들어 갑니다. 이렇게 함으로써, 참여자 주도의 정렬적인 행사가 됩니다.

행사에는, '장소'와 '시간'으로 구성된 표가 준비되어 있습니다. 2차원적인 단순한 표입니다. 하나의 축이 시간대. 또 하나의 축은 장소입니다. 장소는 격식을 따지지 않습니다. 사람 수 정도의 의자만 있어도 좋습니다.

행사를 개시하면 참여자들이 하나의 방에 모여 앉아서, 오픈 스페이스 방법에 대한 설명을 듣습니

[2015-08-01 14:27] iz4blue commented on #70
매우 자세히 나와 있네요. 굿 럭!
http://thechange.kr/changewaywiki/entry/오픈_스페이스_테크놀러지_(ost)

[2015-08-01 14:49] iz4blue commented on #70
http://openspace.kr/oskorea/index.php?mid=notice1&document_srl=727682
영상 오글거림 주의!
https://www.youtube.com/watch?v=lWCRhylyVSs&feature=youtu.be

[2015-08-01 15:02] iz4blue commented on #81
아하 무슨 말인지 이해가 됩니다.
http://www.pycon.kr/2015/programs/speakers/ 에서 보시면
예를 들어 하용호님 그림은 크롭이 되는게 아니라 상하 비율이 적게 되서 보이네요. (가장 비율이 깨지는 것이여서 예시를 듭니다.)

[2015-08-03 01:18] iz4blue commented on #72
우선 Mac 으로 간편하게 (대부분 Mac 을 쓰시니...) 할 수 있는 방법을 찾아 보았으나,
Mac 에서는 hangout 등에서 mac 용으로 ExtremeCap 장비를 연결할 수 있는 방법이 없는 듯 싶었습니다.
윈도우용 USB 3.0 이 있는 장비가 필요할 것으로 생각됩니다.

[2015-08-03 01:31] iz4blue commented on #86
스폰서 책상마다 노트북2개/모니터 2개 로 제한 정도는 별도로 이야기 주시지 않아도 됩니다.
다만 혹시 모르니 어떤 장비를 쓰실지 알려주시면 좋겠다는 이야기 정도 꼭 남겨주세요.
위의 사항을 넘는 것은 (대표적 인 것 30인치 이상 대형 모니터 또는 TV) 등은 꼭 알려주셔야 한다고 이야기 주십시요.

[2015-08-03 02:18] lqez commented on #81
Fixed in https://github.com/pythonkr/pyconkr-2015/commit/5ee9e992c43a5946abce0b33accc3e8a1e67edeb
Thank you for reporting.

[2015-08-03 02:18] #81 closed

[2015-08-05 02:20] Bloodevil opened #88 "주변 식당 연락처, 이름, 위치파악"
누리꿈스퀘어 근처 식당, 식당 연라거, 이름, 위치파악해서 홈페이지 업데이트.

[2015-08-05 03:25] Bloodevil commented on #35
일반인의 재정지원은 없어져서 해외 방문자 지원도 체크했습니다.

[2015-08-05 13:10] Bloodevil commented on #88
deadline :  22일
zombieline : 28일

[2015-08-05 13:16] Bloodevil commented on #87
deadline : 15일
zombieline : 25일

[2015-08-05 13:16] lqez commented on #87
:eyes: got it

[2015-08-05 13:39] Bloodevil commented on #85
페북엔 된것 같습니다. 트위터도 올려서 닫습니다.

[2015-08-05 13:39] Bloodevil commented on #85
변경사항에 대한 sns홍보만 되었고 다른 이슈 있으면 그때그때 적어주세요.

[2015-08-05 13:39] #85 closed

[2015-08-05 13:41] Bloodevil commented on #75
@iz4blue 님의 slack log 첨부합니다.
====
네트워크 구조는 매우 많이 받을 수 있도록 셋팅이 되어 있는 것으로 보아 무난할 것 같습니다.
(실제 가능한지는 다시 확인후 알리겠습니다.)
강연자 용으로는 유선랜을 신청하여 wifi 를 제공하도록 하겠습니다. (그래봐야 3개 *2틀 이니)
====

유선랜 신청과 계정정보 등의 정보등을 google docs에 올리시면 close 해주세요.
deadline : 24일
zombieline : 27일

[2015-08-05 13:44] Bloodevil commented on #64
발표자분들이 자료를 등록하도록 독촉해야할 것 같습니다. (당일까지 수저은 가능하더라도 대충의 뼈대는 미리 올려달라고 해야 합니다.) 독촉은 8월 7일, 12일, 14일, 20일 이렇게 비슷한 내용을 보내면 될 것 같습니다. (환기 필요) @corazzon 님께 부탁드리겠습니다.
deadline : 15일
zombieline : 22일

[2015-08-05 13:45] Bloodevil commented on #50
deadline : 10일
zombieline : 16일

[2015-08-05 14:43] iz4blue commented on #88
식당 리스트 정리 URL 입니다.
https://docs.google.com/spreadsheets/d/1CjatrMebUSNe7bGnzggk-naxD5de09zF7m_f7vFdFFo

[2015-08-05 14:50] iz4blue commented on #75
* QOS 문제 확인 필요
* 유선랜 4개 2일 신청 예정 : 대회의실 keynote 중계용, 각 강의실용
* wifi 무료 제공은 255.255.252.0 의 bitmask 로 되어 있음 : 이론상 1022 개의 IP 가 할당될 수 있음
* 무선 공유기 3개 확보 필요
* 접속 ID / PASS 는 공개된 곳에 노출은 일단 보류 (github 에만)

좀더 자세한 이야기는 무선 담당자와 연락후 다시 적도록 하겠습니다.

[2015-08-05 14:53] iz4blue commented on #72
우징님께서 도와주시기로 하여 다음과 같이 정리되고 있습니다.
* 우징님께서 집 근처 노트북 대여점에서 노트북 대여를 진행해주시기로 하였음 ( 결제는 제가 대신 하면 될 것 같습니다. )
* 개인 스트리밍 장비(우징님) 및 개인 캠코더(김정환) 을 우징님께 전달해드렸습니다.
* 삼각대가 추가로 필요합니다.
* 랜선, 전원연결 등이 필요합니다.
* QOS 문제가 없는지 확인이 필요합니다.
* 가급적 29일 키노트 때 녹화를 부탁드리고, 30일 키노트 녹화가 어려우실 수 있으니 자원 봉사자 1분을 29일날 교육을 하면서 스트리밍을 부탁드렸습니다.

[2015-08-06 01:00] Bloodevil commented on #88
@hdkim41 정환님이 정리해주신 docs에 실제 영업하는지, 좌석수 몇개인지 확인해서 채워주세요. 시트 채우는건 deadline 15일 입니다. 22일까지는 홈페이지에 업데이트해야하는 기간이니까 참고해주세요.

미리감사 'ㅁ' ㅋ

[2015-08-06 01:04] Bloodevil commented on #47
프로그램북 내용최종버전 정하는 날짜는 deadline, zombieline 보다 일주일은 성행되어야 할 것 같습니다.
필요한 내용 코멘트달아주세요.
프로그램북 출고기준
deadline : 25일
zombieline : 28일

[2015-08-06 01:05] Bloodevil commented on #28
deadline : 25일
zombieline : 28일.

티셔츠 출고기준. (당일날 누리꿈스퀘어로 배달되어도 됩니다.)

[2015-08-06 06:29] Bloodevil commented on #86
일단 중간에 한번 공지사항이 나갔으니 이쪽 이슈는 닫고 스폰서 공지용 이슈 새로 팝니다.

[2015-08-06 06:33] Bloodevil opened #89 "8월 10일 스폰서 공지에 필요한 내용."
8월 10일에 나갈 스폰서 공지 내용 정리합니다. 더 필요한건 이쪽에 추가해주시고 공지는 다즐님께 할당할께요.

1. 일요일 스폰서 물품은 5시 30분부터 정리합니다. - 양해부탁드립니다. @iz4blue
2. 프로그램북 진행상황 @lqez
3. 확정 시간표 공지 @scari
4. 무선랜/유선랜 사용에 관한 공지. @iz4blue

 + 중간 모임은 자원봉사자, 발표자들 모이는데 그것에 관한 정보도 한번 환기시켜주면 괜찮을 것 같네요.
... 못할것 같다 하는 부분은 빼고 필요한 부분은 더 정리해주세요.

[2015-08-06 06:36] iz4blue commented on #89
스폰서 무선랜이 있군요. 이건 가급적 우리가 인포데스크에 AP 를 설치해서 따로 제공하는게 맞을 것 같습니다.
이쪽 담당자도 대규모 인원이 한꺼번에 붙는 것을 완벽하게 보장할 수는 없는 상황으로 이야기 하는 중이라,
가장 확실한 방법인 유선랜 + AP 로 반드시 인터넷이 되어야 하는 분들은 그렇게 제공하는게 맞는 것 같습니다.
AP 가 확보될 수 있는 수량을 좀 찾아봐야겠네요.

[2015-08-06 07:04] Bloodevil commented on #89
+1

[2015-08-06 07:09] woojing commented on #89
성능좋은건 아니고 그냥 저가형 가정용공유기 하나 집에 남는거 있어요.

[2015-08-06 07:11] lexifdev commented on #89
저도 저렴한 공유기 하나 남는거 있습니다.

[2015-08-07 00:56] Bloodevil commented on #89
https://docs.google.com/document/d/1CeaxnbZLtql5_QdCMwtPGQ142pVbtUT3HFXR1BwSqL4/edit 문서에 추가해 주세요. 최종 이메일 형식 입니다. 보내고 나면 이 이슈는 닫습니다.

deadline : 10일
zombieline : 12일

[2015-08-08 08:12] Bloodevil commented on #87
https://www.stickermule.com/products/rounded-corner-stickers 에서 주문.

[2015-08-08 08:16] Bloodevil opened #90 "디자인 인증."
파이썬 파운데이션쪽의 로고를 이용한 로고 사용허가 받아야함.

[2015-08-08 08:52] Bloodevil commented on #50
티켓 마감기한
다팔리거나 23일 자정까지.

[2015-08-09 10:42] scari commented on #90
올해 로고는 파이썬 로고를 사용하지 않고, 작년부터 쓰던 로고는 이미 허가를 받은 로고입니다.

[2015-08-09 10:42] #90 closed

[2015-08-09 14:24] scari commented on #86
이건 다른 이슈기도 하고 클로즈 된게 아니라서 다시 엽니다. https://github.com/pythonkr/pyconkr-2015/issues/89 이건 저한테 할당하고 이 이슈는 @darjeeling 이 클로즈 할 때까지 다시 열어둡니다.
내일(10일) 아침까지 완료한다고 했습니다.

[2015-08-10 02:28] iz4blue opened #92 "명찰 제작"
명찰 디자인은 8/8 일 거의 확정되었고,
700명의 리스트를 전달 한 뒤에 디자인된 ai 파일로 출력해서 재단 까지 해줄 업체를 찾아야 함

[2015-08-10 06:08] #75 closed

[2015-08-10 06:10] iz4blue commented on #52
시트 에 정리 중
https://docs.google.com/spreadsheets/d/1MoO65HMYtEsO3gjtSIKg0ygTZtljGhB_hMsfYToCh5A

대여 가 예약이 끝나면 close 하겠습니다.

[2015-08-10 06:14] iz4blue commented on #67
외부임대 하며 시트에 업데이트 하면서 갱신중이여서 close 합니다.
https://docs.google.com/spreadsheets/d/1MoO65HMYtEsO3gjtSIKg0ygTZtljGhB_hMsfYToCh5A

[2015-08-10 06:14] #67 closed

[2015-08-10 06:15] iz4blue commented on #88
@scari 님 나머지 연락 추가로 확인 부탁드립니다.

[2015-08-10 06:20] iz4blue commented on #53
@lqez 님 이건 OST 용 테이블 출력과 같이 하시는 거 맞죠?

[2015-08-10 06:21] iz4blue commented on #40
#88 에서 진행중인 것을 참고 부탁드립니다. #88 에서 리스트를 받아서 이 이슈에서 예약까지 하고 끝내야 할 것 같습니다.

[2015-08-10 06:26] lqez commented on #53
@iz4blue 네 맞습니다. :)

[2015-08-10 06:31] iz4blue opened #93 "누리꿈 장소 대관 추가 사항들 포함 재 계약"
- [x] 유선랜 4개 : 국제 회의실, 로비, 대회의실, 중 회의실 1 무선랜 먹통 사태를 대비해서 임대 예약
- [x] 정수기 5개 : 3층 국제 회의실 문 옆에 2개, , 4층 밖에 1개, 3층 로비 1개 추가, 국제 회의실 스피커 휴개실 중앙에 1개
- [x] 정수기 강의장 내부 4개 : 4층 대회의실 1개, 3층 중회의실 1 1개, 3층 중회의실 2 1개, 4층 중회의실 1개
- [x] 물통 20개 : 기본 9개 + 10개

미 결정
- [ ] 추가로 대여한 소 회의실 및 3층 중회의실 2, 4층 중회의실 에도 빔을 대여할지?

계속 갱신하겠습니다.

[2015-08-10 10:03] scari commented on #88
@hdkim41 님이 모두 확인해주셨습니다. 클로즈합니다.

[2015-08-10 10:03] #88 closed

[2015-08-10 11:17] lqez opened #94 "스폰서 로고 교체 건"
Spoqa 로고가 변경되었습니다.

[2015-08-10 11:22] lqez commented on #94
http://www.pycon.kr/2015/media/sponsor/sponsor-spoqa_8elxbPM.png

[2015-08-10 11:22] #94 closed

[2015-08-10 11:38] Bloodevil commented on #93
정수기는 이미 9개가 구비되어 있습니다. (대관 안에 포함되어 있음.)
https://docs.google.com/drawings/u/1/d/11XlLVf85jiLn9FZd-sJ1aHyWM1DGvFA6S6V1Or4sYPg/edit?usp=drive_web

물통은 추가로 문의 하겠습니다.
빔은 일단 문의하지 않습니다.

[2015-08-11 01:22] Bloodevil commented on #93
1.     유선랜 (개당 1만원)
2.     정수기 (개당 5,000원)
3.     추가 마이크 (무료), (회의실에 따라 보유여부와 수량이 각각 다름!! 어디서 추가 사용 할 지를 자세히 알려주시면 다시 안내 드리겠습니다.)
4.     [추가정보] 델리게이션마이크 (회의용 마이크, 2만원, 회의실에 따라 보유여부와 수량이 각각 다름!! )

유선랜 4개 정수기 10통 추가신청하겠습니다.

추가마이크는 국제회의실, 2개 대회의실 1개 중회의실 1개(총 2개) 5개 더 신청하겠습니다.
빔은 추가로 알려주세요.

[2015-08-13 01:26] Bloodevil commented on #87
주문/디자인 완료
https://slack-imgs.com/?url=https%3A%2F%2Fartisan-production.s3.amazonaws.com%2Fartwork_revisions%2F198316%2Foriginal%2F490992.png%3FAWSAccessKeyId%3DAKIAIRHCXA5ES7K6S5VA%26Expires%3D1439428830%26Signature%3DYvEfqng5lSBkNXRpWrFkoVKZ7dE%253D&width=261&height=97
https://slack-imgs.com/?url=https%3A%2F%2Fartisan-production.s3.amazonaws.com%2Fartwork_revisions%2F198365%2Foriginal%2F490994.pn

[2015-08-13 02:37] Bloodevil commented on #93
정수기 물통 답변 :
"정수기는 다시 확인해 보니, 1개 배치될때 요청하면 2개정도씩 여분물통을 준다고 합니다.
추가비용은 안들어가도 되구요."

유선랜은 위치를 문의받았는데 위치상으로 국제회의실 뒷편이 좋을 것 같습니다. 로비에 가능하냐고는 따로 물어보겠습니다.

[2015-08-14 07:07] Bloodevil commented on #79
다 확인되었으면 닫아주세요
.....

[2015-08-14 15:35] OuO opened #95 "자원봉사자 OT 내용 공유 사후 안내 정리..발송"
- Slack 채널 개설
- OT 내용 정리해서 공유
-- session runner/chair 신청 sheet 공유

2015-08-16 까지!!!

[2015-08-15 04:59] Bloodevil commented on #93
빔이 필요하면 새로운 이슈로 파고 이외의 것들은 협의가 거의 끝나서 close합니다.

[2015-08-15 04:59] #93 closed

[2015-08-15 08:42] OuO commented on #95
메일 발송 완료
Slack team 개설 완료

[2015-08-15 08:42] #95 closed

[2015-08-15 10:05] OuO commented on #79
FIN!

[2015-08-15 10:05] #79 closed

[2015-08-17 01:27] iz4blue commented on #72
우징님이 토요일날 현도님과 함께 스트리밍을 어떻게 하는지 확인해주시고,
일요일날 키노트 중계를 해주시면 되겠습니다.

노트북은 2개 대여해서 중계되는 대회의실에서도 편하게 사용했으면 합니다.

[2015-08-18 07:30] Bloodevil commented on #29
국제회의실 가로 8.5미터 세로는 상관 없음. 입니다.

[2015-08-18 07:31] Bloodevil commented on #87
배송중이고 24일 배송완료될 예정입니다.

[2015-08-18 07:31] Bloodevil commented on #89
끝나서 닫습니다.

[2015-08-18 07:31] #89 closed

[2015-08-22 06:40] scari commented on #84
완료

[2015-08-22 06:40] #84 closed

[2015-08-22 06:41] scari commented on #71
안 하는 걸로.

[2015-08-22 06:41] #71 closed

[2015-08-22 06:41] Bloodevil commented on #87
배송완료. 끗.

[2015-08-22 06:41] #87 closed

[2015-08-22 06:43] scari commented on #68
Issue Raise. X배너 수량이랑 맞춰봐야.. @lqez

[2015-08-22 06:44] scari commented on #66
발표자 가이드에서 안내.

[2015-08-22 06:44] #66 closed

[2015-08-22 06:47] scari commented on #64
최종 자료 등록은 발표 직전에 세션 스태프와 함께 합니다. 현재 상태로는 그 외에는 모두 OOC. 클로즈합니다.

[2015-08-22 06:47] #64 closed

[2015-08-22 06:48] scari commented on #56
응답 마감이 25일이므로 그 다음에 예약 진행합니다. @tebica님이 스탠포트 호텔에 확인 완료 (8/22)

[2015-08-22 06:50] scari commented on #52
키노트 (혹은 LT까지) 스트리밍을 위한 장비 대여도 예산 항목에 포함합니다. @tebica

[2015-08-22 06:52] scari commented on #50
완판. 이슈 닫습니다. 환불/영수증 이슈가 있는데 이건 따로 열게요.

[2015-08-22 06:52] #50 closed

[2015-08-22 06:54] scari opened #104 "티켓 환불/영수증 대응"
티켓을 구매했지만 회사에서 스폰서 티켓을 제공받은 경우에 대해서 @darjeeling님이 환불을 해준게 있습니다. 같은 사유에 대해서 환불 요청이 들어오면 처리를 해줘야 합니다.

영수증 요구가 많이 들어왔고 다음 주(8/24~) 부터 처리해주겠다고 답장을 했으니 약속을 지켜야 합니다.

[2015-08-22 06:55] scari commented on #40
outdate issue. close.

[2015-08-22 06:55] #40 closed

[2015-08-22 06:57] scari commented on #31
Issue Raise. 수량과 현재 상황 업데이트 부탁드립니다.

[2015-08-22 06:57] scari commented on #30
Issue Raise. 업데이트 부탁드립니다.

[2015-08-22 07:03] scari commented on #28
Issue Raise. 마무리된 이슈로 알고 있지만 @corazzon 님 현재 결과만 업데이트 해주시고 이슈 닫아주세요.

[2015-08-22 07:03] scari commented on #47
Issue Raise. 업데이트 부탁드립니다.

[2015-08-22 07:25] tebica opened #105 "OLC 오디오 별도 녹음 확인하기"

[2015-08-22 07:43] tebica commented on #105
contact 남지현 책임연구원

[2015-08-22 08:50] darjeeling commented on #105
어떤건인지 알수 있을까요?

[2015-08-22 08:58] tebica commented on #105
제가 이번에 회사 비디오를 찍으면서 한 경험에 의하면, 멀리서 카메라에서 녹음하는 것보다 직접 마이크를 차고 녹음하여 카메라에 입력을 넣어주는게 훨씬 깔끔한 소리가 들렸습니다. 마이크는 하루 대여비 1만원 정도 하구요.
OLC에서 무선마이크로 녹음이 가능한지 확인해보고 안되면 Pycon 예산으로 마이크를 빌려서 사용해달라고 하는게 어떤가 합니다.
마이크 : http://www.slrrent.com/acc_recording.php
마이크녹음 결과물 : https://realm.wistia.com/medias/ulj0s876se
작년 파이콘 소리 : https://www.youtube.com/watch?v=E4bF3tPxeDE

[2015-08-22 08:59] darjeeling commented on #105
지난번에도 마이크로 녹음했던거 같은데.. ㅠㅠ

확인부탁드립니다.

감사합니니다.

[2015-08-24 05:25] tebica commented on #105
남지현 책임님 휴가중.. 전화 받으신분이 확인해서 알려주신다고 합니다.

[2015-08-24 05:27] tebica commented on #56
호텔조인이 가장 저렴(6.5만원+VAT), 한국어 커뮤니케이션 가능, 세금계산서 가능
http://www.hoteljoin.com/agent/index.php/resv/main/?hcode=1119
여기로 진행중

[2015-08-25 05:02] tebica commented on #56
예약 확인되었고, 3분께 문자로 알려드렸고 3분다 확인답장을 주셨습니다.
[호텔조인]박민우님 2015-08-28 2박 150828-KR143701 스탠포드 호텔 예약완료
투숙객 이름이 등록되어있으므로 투숙객 이름대고 체크인 하면 됩니다.
조식포함 3명, 각 2박 (8/28 체크인)

[2015-08-25 05:02] #56 closed

[2015-08-25 05:59] tebica commented on #72
우징님의 캡쳐장비 정보 입니다
http://gamerzone.avermedia.com/kr/game_capture/extremecap_u3
현장 유선 인터넷을 확인 중입니다.

[2015-08-25 10:36] lqez commented on #47
최종 인쇄 넘겼습니다. 금요일에 배송됩니다.
![img_7912](https://cloud.githubusercontent.com/assets/579366/9464646/8386f77a-4b60-11e5-8ce7-21fd5783e1bb.JPG)

[2015-08-25 10:36] #47 closed

[2015-08-25 10:36] lqez commented on #30
디자인 진행중이며 금요일까지 받을 예정입니다.

[2015-08-25 10:37] lqez commented on #29
디자인은 완료되었습니다.
업체 알아보겠습니다.

[2015-08-25 10:49] lqez commented on #92
디자인 완료되었습니다.
텍스트 모두 얹어서 금요일까지 입고 예정입니다.

[2015-08-25 10:52] lqez commented on #35
처리사항 정리하고 닫습니다.
수고하셨습니다.

[2015-08-25 10:52] #35 closed

[2015-08-25 10:53] lqez commented on #46
Yes, but we removed facebook login.

[2015-08-25 10:53] #46 closed

[2015-08-26 11:44] OuO commented on #33
OT 내용 전달
기타 내용에 대해서는 Google drive/자원봉사자/운영계획.docs 에 정리하는 것으로 마무리 함.

[2015-08-26 11:44] #33 closed

[2015-08-26 16:16] #92 closed

[2015-08-28 06:49] Bloodevil commented on #69
이미 도착해서 이슈 닫습니다.

[2015-08-28 06:49] #69 closed

[2015-08-28 06:57] lqez commented on #53
인쇄 완료되었습니다.

[2015-08-28 06:57] #53 closed

[2015-08-28 06:57] lqez commented on #31
현수막과 같이 현재 배송중입니다.

[2015-08-28 06:58] lqez commented on #30
인쇄 완료되었습니다.

[2015-08-28 06:58] #30 closed

[2015-08-28 07:24] lqez commented on #29
도착했습니다.

[2015-08-28 07:24] #29 closed

[2015-08-28 07:24] lqez commented on #31
도착했습니다.

[2015-08-28 07:24] #31 closed

[2015-08-31 02:39] OuO commented on #68
FIN!

[2015-08-31 02:39] #68 closed

[2015-08-31 02:40] OuO commented on #104
추가로 진행될 사항이 없는 것으로 알고 있습니다. Ticket close 합니다.

[2015-08-31 02:40] #104 closed

[2015-08-31 02:41] OuO commented on #72
행사 종료 되었으므로 종료합니다.

[2015-08-31 02:41] #72 closed

[2015-08-31 02:41] OuO commented on #70
FIN!

[2015-08-31 02:41] #70 closed

[2015-08-31 02:43] OuO commented on #28
티셔츠/에코백 은 잘 도착했고 지급 완료 되었으므로 닫습니다.

남은 수량에 대한 관리는 별도의 Ticket 으로 관리합니다.

@corazzon 님 수고하셨습니다

[2015-08-31 02:43] #28 closed

[2015-08-31 02:44] OuO commented on #105
OLC 녹화에 대해서는 마감합니다.

모두 수고하셨습니다.

[2015-08-31 02:44] #105 closed

[2015-08-31 07:45] tebica opened #106 "스피커 교통 비용 정산"
3명 중에 한분(김준기 님)이 아직 영수증 제출 안하였음..
문자 보내 놓고 기다리는 중..

완료되면 다즐 님이 입금 할 예정.

[2015-08-31 07:50] iz4blue opened #107 "장소대여, 렌트 한 물품의 변상 및 원복의 진행"
렌트 물건 : 의자 1개 분실됨
장소 대여 : 스피커 대기실에서 발표장으로 나가는 문고리가 파손됨

렌트 물건은 지금 연락해서 어떻게 진행될지 물어보고,
문고리가 파손된 것은 수리 시도해보고 따로 연락 준다고 하였음

[2015-08-31 07:56] iz4blue commented on #52
대여는 끝나서 close 합니다.... 만!
의자 1개는 분실하여 새로운 이슈 열고 물품 파손 및 변상에 관한 이슈거리로 새로 등록합니다. #107

[2015-08-31 07:56] #52 closed

[2015-08-31 10:48] tebica commented on #106
스피커 영수증 & 계좌 정보취합 완료
https://docs.google.com/document/d/1SObfFwTI2QxftaeY7bDRW0PwVZAwpKlpnLKT9yc0HtU/edit
입금하면 되기 때문에 배권한 님께 assign-

[2015-08-31 11:31] Bloodevil opened #108 "기타 주차비용 정산."
주차권을 가져가셨는데 불량으로사용이 안되는 것 처리.

- 안병욱님.

[2015-08-31 11:32] Bloodevil opened #109 "설문조사지 만들기."
스피커/참가자/스폰서 설문조사지 만들어야함.

[2015-08-31 12:34] iz4blue commented on #108
저 9장 있는 것 반납해야하면 적절한 방법을 알려주세요.

[2015-09-01 01:11] Bloodevil commented on #108
반납해도..... ㅠ 못씁니다. 장당 만원이니 혹시 오픈프론티어에 아시는분 있으시면 파셔도 됩니다. 오픈프론티어에서도 거기 사람들한테
주차권 팔거든요.

2015년 8월 31일 (월) 오후 9:34, 김정환 <notifications@github.com>님이 작성:

[2015-09-01 01:59] darjeeling opened #110 "영수증 발급 시스템 개발"